<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acadup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LoadData.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RestSubjects"></activity>
        <activity android:name=".PreviousYearPaper" />
        <activity android:name=".VideoPlayActivity" />
        <activity android:name=".Tutorials" />
        <activity android:name=".PDFOpening" />
        <activity android:name=".ConceptPDFs" />
        <activity android:name=".TopicVideoLists" />
        <activity android:name=".NcertSolution" />
        <activity
            android:name=".ConnectUsActivity"
            android:label="Connect With Us" />
        <activity android:name=".CodingRoboticsPurchase" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".SubjectOptions" />
        <activity android:name=".manageOtp" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".User_details" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".signup" />
        <activity android:name=".Coding_Robotics_Purchase" />
        <activity android:name=".demo_choice" />
        <activity android:name=".demo_slot" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>